<h1 class ="container classh1">Help</h1>
<div class="container">
<div class=" badge badge-success text-wrap classtext">
        This site  for online chating. You must insert your name, pick one path, and you will appear in one page, where you can chat with another man, who pick that path.    
      </div></div>
<h3 class="container" style="margin-top:50px; ">About us</h3>      
<div class="container">
        <div class=" badge badge-info text-wrap classtext" >
                Our team is not big. Members are Gayane, Alen, Levon. We are Tumo Creative Technologies students.    
              </div>
</div>
<h3 class="container" style="margin-top:50px; ">Contact</h3>      
<div class="container">
        <div class=" badge badge-warning text-wrap classtext">
               If you have complaints, suggestions or questions, you must insert your E-mail, write what do you want, and we will send our answer to your E-mail.    
              </div>
              <form class="email">
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                  <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
        </div>