<%= form_for message, remote: true, authenticity_token: true do |f| %>
  <div class="send-n-message">
    <%= f.text_field :content, autofocus: true, class: 'chat-input', id: "msg" %>
  </div>

  <%= f.hidden_field :room_id, value: room.id %>
  <%= f.submit "Send", class: 'send-button', data: {send: "message", turbolinks: true} %>
<% end %>
