<main class="home-page text-light">
  <h3>
    <%= @tweet.subject %>
  </h3>
  <h4>
    <%= @tweet.tweet_content %>
  </h4>
  <%= link_to 'Edit', edit_tweet_path(@tweet), class: "tweet-subject"   %>
  <%= link_to 'Back', tweets_path %>

</main>
