
<main class="room-page">
  <p class="room-name">
    <%= @room.title %>
  </p>

  <div class="chat-content">
    <div class="chat-messages" id="post_msg"
       data-channel-subscribe="room">
      <% @room.messages.each do |message| %>
        <% if message.user_id == current_user.id %>
          <div class="chat_text_area">
            <p class="user-message-content">
              <%= message.content %>
            </p>
          </div>
        <% else %>
          <div class="chat_text_area">
            <p class="message-content ">
              <%= message.content %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render partial: 'messages/message_form', locals: {message: @message, room: @room}%>
</main>
